.Button {
  padding: 10px 20px;
  border: 2px solid var(--button-border-color);
  background-color: var(--button-background-color);

  &:not(:disabled) {
    cursor: pointer;
  }
}

.PrimaryButton {
  --button-background-color: green;
  --button-border-color: var(--button-background-color);

  &:not(:disabled) {
    &:hover,
    &:focus {
      --button-background-color: rgba(0, 255, 0, 0.5);
    }
  }
}

.SecondaryButton {
  --button-background-color: red;
  --button-border-color: var(--button-background-color);

  &:not(:disabled) {
    &:hover,
    &:focus {
      --button-background-color: rgba(255, 0, 0, 0.5);
    }
  }
}
