.Button {
  padding: 10px 20px;
  border: 2px solid var(--button-border-color);
  background-color: var(--button-background-color);
  color: var(--button-font-color);
  transition: all 0.2s ease;

  &:not(:disabled) {
    cursor: pointer;
  }
}

.PrimaryButton {
  --button-background-color: red;
  --button-border-color: var(--button-background-color);
  --button-font-color: white;

  &:not(:disabled) {
    &:hover,
    &:focus {
      --button-background-color: rgba(0, 255, 0, 0.5);
      transform: scale(1.1);
    }
  }
}

.SecondaryButton {
  --button-background-color: blue;
  --button-border-color: var(--button-background-color);
  --button-font-color: white;

  &:not(:disabled) {
    &:hover,
    &:focus {
      --button-background-color: rgba(255, 0, 0, 0.5);
      transform: scale(1.1);
    }
  }
}
